<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Immunization component</title>
</head>
<body>

    <div id="body">

        <immunization-component :config="config" :patientdata="patientData" :hospitaldata="hospitalData" @done="console"/>

        <template id="temp" ref="temp">
            <section class="section">
                <div class="container">
                    <h2 class="title">Immunization Details</h1>
                        <!-- Months of immunization -->
                        <div class="tabs">
                            <ul>
                                <template v-for="month in months">
                                    <li :class="{ 'is-active': currentMonth === month }" @click="openMonth(month)"><a>{{ month }}</a></li>
                                </template>
                            </ul>
                          </div>
                        <div class="container">
                            <!-- Age and Date at which age is attained -->
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <h1 class="title">
                                        {{ currentMonth }}
                                    </h1>
                                </div>
                                <div class="level-right">
                                    <h1 class="subtitle">
                                        {{ ptn_age }}
                                    </h1>
                                </div>
                            </div>
                            <!-- Vaccinations to be given -->
                            <template v-for="vaccine in vaccines">
                            <div class="level is-mobile">
                                    <div class="level-left">
                                        <h3 class="is-size-4">{{vaccine.vaccineCode.text}}</h3>
                                    </div>
                                    <div class="level-right">
                                        <template v-if="getPatientsDateFor(vaccine) === false && !isSet(vaccine)">
                                            <button class="button has-text-primary" @click="setVaccineDate(vaccine)">
                                                <span class="icon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                                <span class="is-size-6 is-uppercase has-text-weight-semibold">
                                                    Set date
                                                </span>
                                            </button>
                                        </template>
                                        <template v-else-if="isSet(vaccine)">
                                            <div class="button is-primary is-inverted" style="border: none;" @click="setVaccineDate(vaccine)">
                                                <span class="icon">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <div class="button" disabled style="border: none;">
                                                <span class="subtitle">
                                                    {{ getPatientsDateFor(vaccine) }}
                                            </div>
                                        </template>
                                        
                                    </div>
                                </div>
                            </template>
                            <!-- Done button -->
                            <template v-if="doneYet">
                                <div class="level is-mobile">
                                    <div class="level-left">
                                    </div>
                                    <div class="level-right">
                                        <!-- Remove is-loading to see text -->
                                        <button class="button is-primary" :class="{ 'is-loading': sending }" @click="done()"> 
                                                <span class="icon">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </span>
                                                <span class="is-size-6 is-uppercase has-text-weight-semibold">
                                                    Done
                                                </span>
                                        </button>
                                    </div>
                                </div>
                            </template>
                        </div>
                </div>
            </section>
        </template>
    </div>
    <script src=""></script>
    <script src="./default.js"></script>
    <script src="./script.js"></script>
</body>
</html>